<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth</title>
    <style>
    nav li{
        list-style: none;
        display: inline-block;
    }
    
    </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>Start of OAuth </h1>
        <h2>Homepage</h2>
    </header>
    <main>
        <p>Learning the OAuth</p>
    </main>
</body>
</html>